<nav>
	<ul>
		<li>
			<a href="#">
				<%= partial "bs-logo-icon", :class => "menu-icon" %>
			</a>
			<ul>
				<li><%=link_to 'HOME', '/book-of-shadows' %></li>
				<li><%=link_to 'MANIFESTO', '/book-of-shadows/info/manifesto' %></li>
				<li><%=link_to 'ISSUES', '/book-of-shadows/articles/#artist-1' %></li>
				<li><%=link_to 'CONTACT', '/book-of-shadows/info/contact' %></li>
				<li><%=link_to 'TUMBLR', 'http://elliehoshizaki.tumblr.com/', :target => "_blank" %></li>
			</ul>
		</li>
	</ul>
</nav>