<%= image_tag "../img/bos-menu-icon.svg", :class => "menu-icon black"%>

<div class="home-menu">
<%= image_tag "../img/bos-menu-icon-white.svg", :class => "menu-icon white"%>
<ul>
<!-- fix link later -->
  <!-- <li><%#=link_to 'HOME', '/book-of-shadows' %></li> -->
  <li><%=link_to 'HOME', '/' %></li>
  <li>MANIFESTO</li>
 <!-- fix link later -->
  <li><%=link_to 'ISSUES', '/book-of-shadows/articles' %></li>
  <li><%=link_to 'CONTACT', '/articles/#artist-1' %></li>
  <li><%=link_to 'TUMBLR', '/articles/#artist-2' %></li>
</ul>
</div>