<nav>
	<ul>
		<li>
			<a href="#">
				<%= partial "bs-logo-icon", :class => "menu-icon" %>
			</a>
			<ul>
				<li><%=link_to 'HOME', '/book-of-shadows' %></li>
				<li><%=link_to 'MANIFESTO', '#' %></li>
				<li><%=link_to 'ISSUES', '/book-of-shadows/articles' %></li>
				<li><%=link_to 'CONTACT', '#' %></li>
				<li><%=link_to 'TUMBLR', '#' %></li>
			</ul>
		</li>
	</ul>
</nav>